@inherits Anno.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using Anno.Models.Sample
<RadzenDialog />
<RadzenNotification />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-md-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@NavBarClick">
        </RadzenSidebarToggle>
        <RadzenLabel Text="Annotator 2020">
        </RadzenLabel>
      </div>
      <div class="col-md-6 text-lg-right">
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Text="ShowPlans" Path="show-plans">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Engineering Drawings" Path="engineering-drawings">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Orders" Path="orders">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Order Details" Path="order-details">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Products" Path="products">
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="Annotator, Copyright Ⓒ 2020">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
