@page "/"
@page "/show-plans"
@layout MainLayout
@inherits Anno.Pages.ShowPlansComponent

@using Radzen
@using Radzen.Blazor
@using Anno.Models.Sample
<RadzenContent Container="main">
  <ChildContent>
    <div class="col-md-12">
      <RadzenHeading Size="H1" Text="Show Plans">
      </RadzenHeading>
    </div>
    <div class="col-md-12 justify-content-around">
      <RadzenDropDown Name="Dropdown0" TValue="string">
      </RadzenDropDown>
      <RadzenDropDown Name="Dropdown1" TValue="string">
      </RadzenDropDown>
      <RadzenIcon Icon="description">
      </RadzenIcon>
    </div>
  </ChildContent>
</RadzenContent>
