@page "/spaceplans"

<h2>Ready for your selection.</h2>
<label>Show Year:</label>
<select name="showPlans">
    <option value="show plans">Space plans</option>
    <option value="test">test</option>
</select>
<label>Show Year:</label>
<select name="client">
    <option value="acura">Acura</option>
    <option value="fca">FCA</option>
</select>